name: Daily Overdue Reminder - Ban Users

on:
  schedule:
    - cron: '0 9 * * *'  # 9h UTC ~6h BR, muda pra '0 12 * * *' pra ~9h BR
  workflow_dispatch:

jobs:
  reminder:
    runs-on: ubuntu-latest
    steps:
      - name: Issue DueDate Reminder
        uses: k-pax/issue-duedate-reminder@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          project_url: https://github.com/orgs/mooze-labs/projects/5
          duedate_field: "Target date"  # Nome certinho
          days_before: 0  # 0 pra só overdue (muda pra 3 pra avisar antes tb)
          notification_type: comment  # Posta comentário com @assignees
          overdue_only: true  # Só as atrasadas
          custom_message: "@{{assignees}} Gentlemen, this task has been overdued since {{due-date}}! These bans need to be made, this will affect our payments partner in matters of MED procedures!"
