name: Daily Overdue Reminder - Ban Users

on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  reminder:
    runs-on: ubuntu-latest
    steps:
      - name: Check overdue issues and comment
        uses: petrandr/duedate_reminders@latest  
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          project_number: 5
          duedate_field_name: "Target date" 
          notify_for: "expiring_issues"  
          notification_type: "comment"  
          repository_owner_type: "organization" 
