name: Daily Overdue Reminder - Ban Users

on:
  schedule:
    - cron: '0 9 * * *'  # Everyday 9h UTC 
  workflow_dispatch:

jobs:
  reminder:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Due Date Notifications Via Comments
        uses: peter-evans/due-date-notifications-via-comments@v1  # Essa roda perfeito agora!
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          project-number: 5
          due-date-field: "Target date"
          days-before-due: 0
          comment-message: "@{{assignees}} Gentlemen, this task has been overdued since {{due-date}}! These bans need to be made, this will affect our payments partner in matters of MED procedures!"  # Message
